@font-face {
  font-family: 'WilsonText-Bold';
  src: url('../fonts/WilsonText-BoldWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WilsonText-BoldWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WilsonText-BoldWeb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/WilsonText-BoldWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/WilsonText-BoldWeb.svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'WilsonText-ItalicWeb';
  src: url('../fonts/WilsonText-ItalicWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WilsonText-ItalicWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WilsonText-ItalicWeb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/WilsonText-ItalicWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/WilsonText-ItalicWeb.svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'WilsonText-RegularWeb';
  src: url('../fonts/WilsonText-RegularWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WilsonText-RegularWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WilsonText-RegularWeb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/WilsonText-RegularWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/WilsonText-RegularWeb.svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'WilsonTextAlt-Bold';
  src: url('../fonts/WilsonTextAlt-BoldWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WilsonTextAlt-BoldWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WilsonTextAlt-BoldWeb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/WilsonTextAlt-BoldWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/WilsonTextAlt-BoldWeb.svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'WilsonTextAlt-ItalicWeb';
  src: url('../fonts/WilsonTextAlt-ItalicWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WilsonTextAlt-ItalicWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WilsonTextAlt-ItalicWeb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/WilsonTextAlt-ItalicWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/WilsonTextAlt-ItalicWeb.svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'WilsonTextAlt-RegularWeb';
  src: url('../fonts/WilsonTextAlt-RegularWeb.eot'); /* IE9 Compat Modes */
  src: url('../fonts/WilsonTextAlt-RegularWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/WilsonTextAlt-RegularWeb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/WilsonTextAlt-RegularWeb.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/WilsonTextAlt-RegularWeb.svg') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
  text-rendering: optimizeLegibility;
}