.lt-ie9 {
	.vcenter {
		margin: 0 4em 10em $spacing;
		padding-top: 10em;
	}
	.logo-wrapper {
		background-image: url(../img/pwc_logo.png);
		background-repeat: no-repeat;
		height: 75px;
		width: 300px;
	}
}