@import url(http://fonts.googleapis.com/css?family=Lato:300,700,300italic,700italic);

$bp-small: 650px;
$spacing: 30%;

$pp-black: #231f20;
$pp-purple: #861a54;
$pp-red: #ee3126; /* Make sure this is new! */
$pp-blue: #054f7d;
$pp-ltblue: #00a7cf;
$sp-black: #58595b;
$sp-purple: #cbabd1;
$sp-yellow: #efe348;
$sp-blue: #94d6dc;
$sp-ltblue: #a7bbc9;

$font-light: 300;
$font-heavy: 700;

@mixin group {
	&:after {
    	content: "";
    	display: table;
    	clear: both;
	}
}
@mixin grad($type) {
  @if $type == one {
  	background-image: linear-gradient($pp-ltblue,$pp-purple);
  };
  @if $type == two {
  	background-image: linear-gradient($pp-blue,$sp-blue);
  };
  @if $type == three {
  	background-image: linear-gradient($pp-red,$sp-blue);
  };
  @if $type == four {
  	background-image: linear-gradient($pp-ltblue,$sp-yellow);
  };
  @if $type == five {
    background-image: linear-gradient($pp-purple,$sp-ltblue);
  };
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}
body {
  color: white;
  font-family: "Lato", sans-serif;
  @media (max-width: $bp-small) {
    font-size: .8em;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
em {
  font-style: italic;
}
section {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5em;
  position: relative;
  width: 100%;
  @include group;
}
section.full {
  height: 100%;
}
#top {
  background-color: white;
  h1 {
    color: $sp-ltblue;
  }
  svg#logo {
    max-width: 90%;
    width: 30em;
  }
  svg#logo .logo {
    fill: $sp-ltblue;
  }
  h2 {
    color: $pp-purple;
    font-size: 2em;
  }
}
#letter {
  background-color: $pp-blue;
}
#one {
  padding-top: 10em;
  @include grad(four);
}
#two {
  background-image: url(https://pwcenter.org/sites/default/files/feature-block/02_playwrights_center.jpg);
  
}
#three {
  @include grad(two);
}
#four {
  background-image: url(https://pwcenter.org/sites/default/files/feature-block/03_members.jpg);
}
#five {
  @include grad(three);  
}
#six {
  background-image: url(https://pwcenter.org/sites/default/files/feature-block/01_our_season.jpg);
}
#seven {
  @include grad(one);
}
#eight {
  background-image: url(https://pwcenter.org/sites/default/files/feature-block/04_fellows.jpg);
  padding-bottom: 10em;
}
#final {
  @include grad(four);
  svg#mark {
    margin-top: 2em;
    max-width: 90%;
    width: 7em;
  }
  svg#mark .mark {
    fill: white;
  }
}
.letter-wrapper {
  margin: 0 auto 10em;
  max-width: 44em;
  width: 80%;
  @media (max-width: $bp-small) {
    width: 96%;
  }
}
.stat {
  margin: 0 2em 10em $spacing;
  &:last-of-type {
    margin-bottom: 5em;
  }
  @media (max-width: $bp-small) {
    margin-left: 2em;
  }
}
.stat.vcenter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.number {
  font-size: 3em;
  font-weight: $font-heavy;
  padding-right: .4em;
  position: absolute;
  left: 0;
  text-align: right;
  width: $spacing;
  @media (max-width: $bp-small) {
    position: relative;
    width: 100%;
    text-align: left;
  }
}
h1 {
  font-size: 3em;
  font-weight: $font-heavy;
}
img.signature {
  display: block;
  margin-bottom: .5em;
  max-width: 12em;
}
img.circle {
  border-radius: 50%;
  margin: .4em .8em .4em 0;
  width: 140px;
  height: 140px;
}
p {
  font-size: 1.4em;
}
.stat p {
  max-width: 31em;
}
p a {
  font-style: italic;
}
.scroll-message {
  animation: scrollMessage 2.5s;
  bottom: 2em;
  color: $sp-black;
  font-size: 1.2em;
  margin-left: $spacing;
  position: absolute;
  @media (max-width: $bp-small) {
    left: 50%;
    margin-left: 0;
    transform: translateX(-50%);
    text-align: center;
  }
}
@keyframes scrollMessage {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.report-link {
  margin-top: 3em;
}

